<div id="forgotPasswordDiv" xmlns:th="http://www.thymeleaf.org" th:fragment="forgotPassword" class="container">
    <div class="card bg-light loginCentered">
        <article class="card-body">
            <h4 class="card-title mt-3 text-center" th:text="#{forgot_password.forgot_password}"></h4>
            <p class="text-center" th:text="#{forgot_password.info}"></p>
            <hr>
            <form id="forgotPasswordForm" method="POST" action="/forgottenPassword">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    <input name="email" class="form-control"
                           th:placeholder="#{forgot_password.email}"
                           type="email" required
                           oninvalid="this.setCustomValidity(forgottenPassword.validEmail)"
                           oninput="this.setCustomValidity('')">
                </div>
                <div>
                    <p><span id="errorMessage" style="color: red; "></span></p>
                </div>

                <div class="form-group">
                    <button id="forgotPasswordButton" type="submit" class="btn btn-primary btn-block"
                            th:text="#{forgot_password.send_email}"></button>
                </div>
                <p class="text-right">
                    <a id="forgottenPasswordLogin" href="/login" th:text="#{forgot_password.log_in}"></a>
                </p>
            </form>
        </article>
    </div>
    <!-- Modal -->
    <div th:replace="fragments/login/modal.html::modal"></div>

    <script>
        document.getElementById('sentEmailModalLabel').innerHTML = "Reset password";
        document.getElementById('modalDescription').innerHTML = "An email was sent to your address. Check it and reset your password!";
    </script>
</div>