<div id="resetPasswordDiv" xmlns:th="http://www.thymeleaf.org" th:fragment="resetPassword" class="container"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="card bg-light loginCentered">
        <article class="card-body">
            <h4 class="card-title mt-3 text-center text-dark" th:text="#{change_password.title}"></h4>
            <p class="text-center text-dark" th:text="#{change_password.info}"></p>

            <hr>
            <!--/*@thymesVar id="jwt" type="java.lang.String"*/-->
            <input id="jwt" type="hidden" th:value="${jwt}"/>
            <form id="resetPasswordForm" onsubmit="resetPassword(event)">
                <div sec:authorize="isAuthenticated()" class="bg-light">
                    <div class="form-group input-group">
                        <div class="input-group-prepend"><span class="input-group-text"> <i class="fas fa-lock"></i></span>
                        </div>
                        <input id="currentPassword" name="currentPassword" class="form-control" th:placeholder="#{change_password.current_password}"
                               type="password" required/>
                    </div>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend"><span class="input-group-text"> <i class="fas fa-lock"></i></span>
                    </div>
                    <input id="password1" name="password1" class="form-control" th:placeholder="#{change_password.new_password}"
                           type="password" required/>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend"><span class="input-group-text"> <i class="fas fa-lock"></i></span>
                    </div>
                    <input name="password2" class="form-control" th:placeholder="#{change_password.confirm_password}"
                           type="password" required/>
                </div>
                <div>
                    <p><span id="errorMessage" class="text-danger"></span></p>
                </div>

                <div class="form-group">
                    <button id="resetPasswordButton" class="btn btn-primary btn-block"
                            th:text="#{change_password.confirm_button}"></button>
                </div>
            </form>
        </article>
    </div>
    <!-- Modal -->
    <div th:replace="fragments/login/modal.html::modal"></div>
</div>




