<div xmlns:th="http://www.thymeleaf.org" th:fragment="downloadTable">
    <table id="downloadTable" class="table table-hover" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th th:text="#{download_view.table.type}"></th>
                <th class="text-dark" th:text="#{download_view.table.name}"></th>
                <th class="text-dark" th:text="#{download_view.table.created}"></th>
                <th class="text-dark" th:text="#{download_view.table.modified}"></th>
                <th class="text-dark" th:text="#{download_view.table.size}"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th th:text="#{download_view.table.type}"></th>
                <th class="text-dark" th:text="#{download_view.table.name}"></th>
                <th class="text-dark" th:text="#{download_view.table.created}"></th>
                <th class="text-dark" th:text="#{download_view.table.modified}"></th>
                <th class="text-dark" th:text="#{download_view.table.size}"></th>
            </tr>
        </tfoot>
    </table>
</div>